<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="DYHtml5VideoPlayer : 中科大洋HTML5视频播放器, 支持视频打点." />
	<link rel="stylesheet" href="css/html5video.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	
    <title>DYHtml5VideoPlayer</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/lvjian700/DYHtml5VideoPlayer">View on GitHub</a>

          <h1 id="project_title">DYHtml5VideoPlayer</h1>
          <h2 id="project_tagline">中科大洋HTML5视频播放器, 支持视频打点.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/lvjian700/DYHtml5VideoPlayer/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/lvjian700/DYHtml5VideoPlayer/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h2>HTML5视频打点播放</h2>
		
<h3>说明</h3>

<hr><p>HTML5视频打点播放器，封装了对html5 video的操作， 支持视频打点功能。该功能被用在中科大洋公司的项目， 用来切分视频。  </p>

<p>目前暂时只支持h.264/aac编码的视频， 多格式兼容暂时没做支持。   </p>

<div id="dy-player"></div>

<p>
	
	<a href="demo.html">
	See Full Demo
	</a>
</p>

<p>浏览器支持情况:  </p>

<ul>
<li>IE9 +</li>
<li>Google Chrome: 支持Windows/Mac OS, Linux需要安装h.264解码器(linx未测试)</li>
</ul><h3>安装</h3>

<hr><pre><code>&lt;link rel="stylesheet" href="css/html5video.css" type="text/css" media="screen" charset="utf-8"&gt;
&lt;script src="js/jquery-1.8.1.min.js" type="text/javascript" charset="utf-8"&gt;&lt;/script&gt;

&lt;script src="js/underscore.js" type="text/javascript"&gt;&lt;/script&gt; 
</code></pre>

<h3>快速使用</h3>

<hr><p>快速初始化视频播放器，并制定初始化视频地址。  </p>

<pre><code>&lt;div id="dy-player"&gt;&lt;/div&gt;
&lt;script type="text/javascript&gt;
    var v = new DYVideo({
        el: '#dy-player',
        videoSrc: 'http://192.168.1.205/~lvjian/video/death.mp4'
    });
    v.render();
&lt;/script&gt;
</code></pre>

<h3>DYVideo初始化参数说明</h3>

<hr><pre><code>{
    el: '', //(必须) 只定在哪里创建组建， 支持jQuery选择器
    videoSrc: '', //(可选) 初始化视频播放地址
    autoplay: true, //(可选) 是否自动播放。 true|false, 默认true 
    fps: 25, //(可选) 视频制式， 一般分N制(25帧/秒), PA制(30帧/秒)。默认N制 
    posterSrc: undefined //(可选) 视频首帧图片，需要给网络地址。 
}
</code></pre>

<h3>监听视频打点事件</h3>

<hr><p>如何监听事件: </p>

<pre><code>var v = new DYVideo({
    el: '#dy-player',
    videoSrc: 'http://192.168.1.205/~lvjian/video/death.mp4'
});

v.trimin(function(e, data) {
    console.log('get trimin');
    console.log(data);
});

v.trimout(function(e, data) {
    console.log('get trimout');
    console.log(data);
});
</code></pre>

<p>data数据结构:   </p>

<pre><code>{
    currentTime: 1, //以秒为单位的打点信息
    currentFrame: 25 //以帧数为单位的打点信息 
}
</code></pre>

<h3>DYVideo属性说明</h3>

<hr><ul>
<li>
<strong>getEl() : String</strong> : 获取初始化时传入的el参数</li>
<li>
<strong>getCurrentSrc() : String</strong> : 获取当前视频的路径</li>
<li>
<strong>getFps() : number</strong> : 获取当前视频的帧率</li>
<li>
<strong>setFps(fps:number)</strong> : 设置当前视频的帧率。 25|30</li>
<li>
<strong>isAutoPlay() : boolean</strong> : 是否自自动播放</li>
<li>
<strong>setTrimIn(frame:number)</strong> : 设置入点， 参数为帧数 </li>
<li>
<strong>setTrimOut(frame:numner)</strong> : 设置出点， 参数为帧数</li>
</ul><h3>DYVideo特殊属性</h3>

<hr><ul>
<li>
<strong>video</strong> : 当前视频播放器的dom对象</li>
<li>
<strong>canvas</strong> : 当前缩略图的画布dom对象</li>
</ul><h3>DYVideo方法</h3>

<hr><ul>
<li>
<strong>render()</strong> : 渲染组建， 在创建DYVideo后需要调用。</li>
<li>
<strong>play(url:string)</strong> : 播放视频。 </li>
<li>
<strong>clearTrims()</strong>: 清空打点信息</li>
</ul>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">DYHtml5VideoPlayer maintained by <a href="https://github.com/lvjian700">lvjian700</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    
	<script src="js/jquery-1.8.1.min.js" type="text/javascript" charset="utf-8"></script>

	<script src="js/underscore.js" type="text/javascript"></script>
	<script src="js/dy-video-html5.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/template" id="dy-video-tmpl">
			<div class="video-wrapper">
				<video width="640" height="350" 
					src="<%= videoSrc%>" 
					onfocus="this.blur();" 
					controls 
					<%= autoplay ? "autoplay" : "" %> 
					<%= posterSrc == undefined ? "" :
							"poster=" + posterSrc %>
				>

				</video>
				<div class="video-controls">
					<a href="#" onfocus="this.blur();" class="button btn-trim-in">
					</a>
					<a href="#" onfocus="this.blur();" class='button btn-trim-out'>
					</a>

				</div>
			</div>

			<div class="canvas-wrapper" >
				<canvas width="710" height="100"></canvas>
				<div class="trim-times">
					<table border="0" cellpadding='0' cellspacing='0'>
						<tbody>
							<tr>
								<td>
									<div class="trim-time-in" trimTime='none'>
									</div>
								</td>
								<td>
									<div class="trim-time-out" trimTime='none'>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</script>
	<script type="text/javascript">
		$(document).ready(function() {

			var v = new DYVideo({
				el: '#dy-player',
				videoSrc: 'http://media.w3.org/2010/05/sintel/trailer.mp4'
			});
			v.render();
		});
	</script>
  </body>
</html>
